/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
.accordion {
  background-color: white !important;
}

.accordion-item {
  background-color: white !important;
  border: 1px solid #ddd !important;
}

.accordion-button {
  background-color: white !important;
  color: black !important;
}

