<div class="sidebar sidebar-style-2" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <h1 class="dashboard-title">Coding Factory </h1>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a href="dashboard.html">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon"><i class="fa fa-ellipsis-h"></i></span>
          <h4 class="text-section"></h4>
        </li>

        <li class="nav-item">
          <a href="user-management.html">
            <i class="fas fa-users"></i>
            <p>User Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="courses-management.html">
            <i class="fas fa-book"></i>
            <p>Courses Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="evaluations.html">
            <i class="fas fa-chart-line"></i>
            <p>Evaluations</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="events-management.html">
            <i class="fas fa-calendar-alt"></i>
            <p>Events Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="consulting-service.html">
            <i class="fas fa-handshake"></i>
            <p>Consulting Service</p>
          </a>
        </li>

        <li class="nav-item">

          <a routerLink="/pfe-space" class="nav-link">
            <i class="fas fa-graduation-cap"></i>
            <p>PFE Space</p>
          </a>

        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->


